@charset "UTF-8";
/* VARIABLE */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

main {
  width: 100%;
  background-color: #F2F2F2;
}

/* HEADER */
header {
  width: 100%;
  box-shadow: 5px 5px 5px rgba(66, 32, 32, 0.2);
  z-index: 2;
}
header i {
  position: absolute;
  color: #000000;
  top: 10px;
  left: 40px;
}

#logo {
  text-align: center;
  margin-top: 20px;
  background-color: #FFFFFF;
  position: relative;
  padding-bottom: 10px;
}
#logo a {
  text-decoration: none;
  color: #000000;
}
#logo a i {
  position: absolute;
  left: 30px;
  top: 10px;
}

/* FORMULAIRE LOCATION */
.location {
  background-color: #EAEAEA;
}
.location form {
  display: flex;
  justify-content: center;
  width: 100%;
}
.location form i {
  margin-right: 5px;
  margin-top: 15px;
}
.location input {
  background-color: #EAEAEA;
  color: #000000;
  margin-top: 15px;
  margin-bottom: 15px;
}

.searchbar {
  border: none;
  padding-left: 10px;
  width: 140px;
  font-weight: bold;
}

/* PRESENTATION */
.présentation {
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
}
.présentation h2, .présentation p {
  text-align: center;
  width: 100%;
}
.présentation h2 {
  font-weight: bold;
  margin-top: 0;
  padding-top: 20px;
}
.présentation .pbouton {
  margin-top: 30px;
}
.présentation .pbouton .boutonprésentation {
  background-image: linear-gradient(70deg, #FF79DA, #9356DC);
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 30px;
  padding: 10px 20px;
}

/* FONCTIONNEMENT */
.fonctionnement {
  background-color: #FFFFFF;
  padding: 20px 0 10px 0;
}
.fonctionnement h2 {
  margin-left: 15px;
}
.fonctionnement ul {
  list-style-type: none;
  padding: 0 15px;
}
.fonctionnement li {
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(66, 32, 32, 0.2);
  background-color: #F2F2F2;
}
.fonctionnement li :hover {
  background-color: #f4ebff;
  border-radius: 30px;
  color: #9356DC;
}
.fonctionnement li :hover h3 {
  color: #000000;
}

.sub-fonc {
  display: flex;
  margin-bottom: 20px;
}
.sub-fonc span, .sub-fonc i, .sub-fonc h3 {
  margin-right: 20px;
}
.sub-fonc span, .sub-fonc i {
  margin-top: 20px;
}
.sub-fonc span {
  background-color: #9356DC;
  color: #FFFFFF;
  border-radius: 50%;
  max-height: 20px;
  width: 20px;
  text-align: center;
}
.sub-fonc i {
  max-width: 20px;
  max-height: 20px;
}

/* RESTAURANT */
#restaurant {
  background-color: #F2F2F2;
  padding-top: 30px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}
#restaurant h2 {
  margin-left: 15px;
}
#restaurant a {
  text-decoration: none;
  color: #000000;
}
#restaurant a .sub-restau {
  position: relative;
  width: 100%;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgba(66, 32, 32, 0.2);
}
#restaurant a .sub-restau img {
  width: 100%;
  height: 100%;
  max-height: 220px;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
#restaurant a .sub-restau span {
  position: absolute;
  height: 20px;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #008766;
  padding: 10px 15px 10px 15px;
  font-weight: bold;
  border-radius: 5px;
}
#restaurant a .sub-restau-info-like {
  display: flex;
  justify-content: space-between;
}
#restaurant a .sub-restau-info-like h3 {
  margin-left: 15px;
  margin-bottom: 0;
}
#restaurant a .sub-restau-info-like i {
  padding: 30px 30px 0 0;
}
#restaurant a .sub-restau-info-loca p {
  margin-left: 15px;
  margin-top: 0;
}

/* FOOTER */
footer {
  background-color: #000000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}
footer img {
  filter: invert(100%);
  width: 100%;
  max-width: 100px;
  margin-top: 20px;
}
footer ul {
  list-style-type: none;
  padding-left: 20px;
  margin-top: 0;
}
footer li {
  margin: 0 0 10px 0px;
}
footer li a {
  text-decoration: none;
  color: #FFFFFF;
}
footer div {
  display: flex;
}
footer div i {
  max-width: 13px;
  max-height: 13px;
  margin-right: 15px;
  object-fit: cover;
}
footer div p {
  margin-top: 0;
  margin-bottom: 0;
}

/* _______________________________________________________________________________________ */
/* MENUS */
#section-restau {
  position: relative;
  bottom: 50px;
  border-radius: 50px;
  background-color: #F2F2F2;
}

#picrestau img {
  width: 100%;
  object-fit: cover;
}

#menu-restaurant {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0 10px 50px 10px;
}
#menu-restaurant .nom-restau {
  display: flex;
  justify-content: space-between;
}
#menu-restaurant .nom-restau h2 {
  margin-left: 20px;
  font-family: "Shrikhand", sans-serif;
}
#menu-restaurant .nom-restau i {
  margin: 25px 30px 0 0;
}

.menu-choix h3 {
  margin-left: 20px;
}
.menu-choix h3 span {
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
}
.menu-choix .sub-choix {
  background-color: #FFFFFF;
  border-radius: 20px;
}
.menu-choix .sub-choix h4 {
  margin-left: 20px;
  margin-bottom: 0;
  padding-top: 15px;
}
.menu-choix .sub-choix-info {
  display: flex;
  justify-content: space-between;
}
.menu-choix .sub-choix-info p {
  margin-left: 20px;
  margin-top: 0;
}
.menu-choix .sub-choix-info span {
  margin-right: 20px;
  font-weight: bold;
}

/*# sourceMappingURL=mobile.css.map */
