@charset "UTF-8";
/* VARIABLE */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

main {
  width: 100%;
  background-color: #F2F2F2;
}

/* LOADING SCREEN */
#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 40;
  background-color: #F2F2F2;
  animation: end-load 3s ease-out both;
}
@-webkit-keyframes end-load {
  0% {
    opacity: 1;
  }
  99% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes end-load {
  0% {
    opacity: 1;
  }
  99% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
}
#loading-screen .loading-logo {
  display: block;
  position: relative;
  left: 50%;
  top: 35%;
  margin: -75px 0 0 -95px;
}
#loading-screen .loading-logo-icons {
  margin-top: 10px;
  width: 200px;
  display: flex;
  justify-content: space-around;
}
#loading-screen .loading-logo-icons .fa-pizza-slice {
  color: #9356DC;
}
#loading-screen .loading-logo-icons .fa-fish {
  color: #FF79DA;
}
#loading-screen .loading-logo-icons .fa-ice-cream {
  color: #99E2D0;
}
#loading-screen #loading {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 3px solid transparent;
  border-top-color: #9356DC;
  border-radius: 50%;
  z-index: 50;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loading-screen #loading:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 3px solid transparent;
  border-top-color: #FF79DA;
  border-radius: 50%;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loading-screen #loading::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border: 3px solid transparent;
  border-top-color: #99E2D0;
  border-radius: 50%;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* HEADER */
header {
  width: 100%;
  box-shadow: 5px 5px 5px rgba(66, 32, 32, 0.2);
  z-index: 2;
}
header i {
  position: absolute;
  color: #000000;
  top: 10px;
  left: 40px;
}

#logo {
  text-align: center;
  margin-top: 20px;
  background-color: #FFFFFF;
  position: relative;
  padding-bottom: 10px;
}
#logo a {
  text-decoration: none;
  color: #000000;
}
#logo a i {
  position: absolute;
  left: 30px;
  top: 10px;
}

/* FORMULAIRE LOCATION */
.location {
  background-color: #EAEAEA;
}
.location form {
  display: flex;
  justify-content: center;
  width: 100%;
}
.location form i {
  margin-right: 5px;
  margin-top: 15px;
}
.location input {
  background-color: #EAEAEA;
  color: #000000;
  margin-top: 15px;
  margin-bottom: 15px;
}

.searchbar {
  border: none;
  padding-left: 10px;
  width: 140px;
  font-weight: bold;
}

/* PRESENTATION */
.présentation {
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  background-color: #F2F2F2;
}
.présentation h2, .présentation p {
  text-align: center;
  width: 100%;
}
.présentation h2 {
  font-weight: bold;
  margin-top: 0;
  padding-top: 20px;
}
.présentation .pbouton {
  margin-top: 30px;
}
.présentation .pbouton .boutonprésentation {
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  text-decoration: none;
  color: #FFFFFF;
  border-radius: 30px;
  padding: 10px 20px;
}
.présentation .pbouton .boutonprésentation:hover {
  background: linear-gradient(170deg, #FF86DD, #9D66DF);
  box-shadow: 5px 5px 5px rgba(66, 32, 32, 0.2);
}

/* FONCTIONNEMENT */
.fonctionnement {
  background-color: #FFFFFF;
  padding: 20px 0 10px 0;
}
.fonctionnement h2 {
  margin-left: 15px;
}
.fonctionnement ul {
  list-style-type: none;
  padding: 0 15px;
}
.fonctionnement li {
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(66, 32, 32, 0.2);
  background-color: #F2F2F2;
}
.fonctionnement li :hover {
  background-color: #f4ebff;
  border-radius: 30px;
  color: #9356DC;
}
.fonctionnement li :hover h3 {
  color: #000000;
}

.sub-fonc {
  display: flex;
  margin-bottom: 20px;
}
.sub-fonc span, .sub-fonc i, .sub-fonc h3 {
  margin-right: 20px;
}
.sub-fonc span, .sub-fonc i {
  margin-top: 20px;
}
.sub-fonc span {
  background-color: #9356DC;
  color: #FFFFFF;
  border-radius: 50%;
  max-height: 20px;
  width: 20px;
  text-align: center;
}
.sub-fonc i {
  max-width: 20px;
  max-height: 20px;
}

/* RESTAURANT */
#restaurant {
  background-color: #F2F2F2;
  padding-top: 30px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}
#restaurant h2 {
  margin-left: 15px;
}
#restaurant a {
  text-decoration: none;
  color: #000000;
}
#restaurant a .sub-restau {
  position: relative;
  width: 100%;
  background-color: #FFFFFF;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 5px 5px 5px rgba(66, 32, 32, 0.2);
}
#restaurant a .sub-restau img {
  width: 100%;
  height: 100%;
  max-height: 220px;
  object-fit: cover;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
#restaurant a .sub-restau span {
  position: absolute;
  height: 20px;
  top: 10px;
  right: 10px;
  background-color: #99E2D0;
  color: #008766;
  padding: 10px 15px 10px 15px;
  font-weight: bold;
  border-radius: 5px;
}
#restaurant a .sub-restau-info-like {
  display: flex;
  justify-content: space-between;
}
#restaurant a .sub-restau-info-like h3 {
  margin-left: 15px;
  margin-bottom: 0;
}
#restaurant a .sub-restau-info-like .icon {
  position: relative;
}
#restaurant a .sub-restau-info-like .icon .bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  z-index: -1;
  stroke: none;
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
#restaurant a .sub-restau-info-like .icon .main {
  margin: 30px 30px 0 0;
}
#restaurant a .sub-restau-info-like .icon:hover .bg {
  animation: fade-animation 0.5s ease-in-out forwards;
  z-index: 5;
}
#restaurant a .sub-restau-info-loca p {
  margin-left: 15px;
  margin-top: 0;
}

@keyframes fade-animation {
  70% {
    /* fill: transparent; */
    transform: scale(1);
  }
  80% {
    /* fill: linear-gradient(170deg, $color-secondary-light, $color-primary-light); */
    transform: scale(1.1);
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    /* fill: linear-gradient(170deg, $color-secondary, $color-primary); */
    opacity: 1;
  }
}
/* FOOTER */
footer {
  background-color: #000000;
  opacity: 0.8;
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}
footer img {
  filter: invert(100%);
  width: 100%;
  max-width: 100px;
  margin-top: 20px;
}
footer ul {
  list-style-type: none;
  padding-left: 20px;
  margin-top: 0;
}
footer li {
  margin: 0 0 10px 0px;
}
footer li a {
  text-decoration: none;
  color: #FFFFFF;
}
footer div {
  display: flex;
}
footer div i {
  max-width: 13px;
  max-height: 13px;
  margin-right: 15px;
  object-fit: cover;
}
footer div p {
  margin-top: 0;
  margin-bottom: 0;
}

/* _______________________________________________________________________________________ */
/* MENUS */
#section-restau {
  position: relative;
  bottom: 50px;
  border-radius: 50px;
  background-color: #F2F2F2;
}

#picrestau img {
  width: 100%;
  object-fit: cover;
  max-height: 327px;
}

#menu-restaurant {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0 10px 50px 10px;
}
#menu-restaurant .nom-restau {
  display: flex;
  justify-content: space-between;
}
#menu-restaurant .nom-restau h2 {
  margin-left: 20px;
  font-family: "Shrikhand", sans-serif;
}
#menu-restaurant .nom-restau .icon {
  position: relative;
}
#menu-restaurant .nom-restau .icon .bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  z-index: -1;
  stroke: none;
  background: linear-gradient(to bottom, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}
#menu-restaurant .nom-restau .icon .main {
  margin: 30px 30px 0 0;
}
#menu-restaurant .nom-restau .icon:hover .bg {
  animation: fade-animation 0.5s ease-in-out forwards;
  z-index: 5;
}

.menu-choix h3 {
  margin-left: 20px;
}
.menu-choix h3 span {
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
}
.menu-choix .sub-choix {
  background-color: #FFFFFF;
  border-radius: 20px;
  opacity: 0;
  animation: fadeIn linear 1s forwards;
  cursor: pointer;
  position: relative;
  min-width: 320px;
}
.menu-choix .sub-choix h4 {
  margin-left: 20px;
  margin-bottom: 0;
  padding-top: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.menu-choix .sub-choix-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu-choix .sub-choix-info p {
  margin-left: 20px;
  margin-top: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 80%;
}
.menu-choix .sub-choix-info span {
  margin: 0 20px;
  font-weight: bold;
}
.menu-choix .sub-choix-info.check {
  background-color: #99E2D0;
  color: #FFFFFF;
  border-radius: 0 20px 20px 0;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 20%;
  opacity: 1;
  transform-origin: 100%;
  transform: scaleX(0);
  transition: transform 200ms linear;
}
.menu-choix .sub-choix-info.check i {
  position: absolute;
  top: 35%;
  left: 38%;
  font-size: 22px;
  /* transform-origin: 100%; */
  transform: rotate(-360deg);
  transition: transform 300ms linear;
}
.menu-choix .sub-choix:hover h4 {
  width: 60%;
}
.menu-choix .sub-choix:hover p {
  width: 60%;
  transition-duration: 100ms;
}
.menu-choix .sub-choix:hover span {
  transform: translate(-80px, 0);
  transition-duration: 100ms;
}
.menu-choix .sub-choix:hover > .check {
  transform: scaleX(1);
  transition: transform 150ms linear;
}
.menu-choix .sub-choix:hover > .check i {
  transform: rotate(0);
}
.menu-choix .sub-choix:nth-child(1) {
  animation-delay: 0s;
}
.menu-choix .sub-choix:nth-child(2) {
  animation-delay: 0.5s;
}
.menu-choix .sub-choix:nth-child(3) {
  animation-delay: 1s;
}
.menu-choix .sub-choix:nth-child(4) {
  animation-delay: 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=mobile.css.map */
